

.panel {
	background-color: #34495e;
    position: fixed;
    left: -15.625em; /*left or right and the width of your navigation panel*/
    width: 15.625em; /*should match the above value*/
}

.wrap { 
    position: relative; 
}

#menu {
	color: white;
}